
{% extends "base.html" %}


{% block content%}

    <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card">
          <div class="card-body p-5">

            <form class="d-flex justify-content-center align-items-center mb-4" method="POST" action="/add">
              <div data-mdb-input-init class="form-outline flex-fill">
                 <label class="form-label" for="form2">Add New task</label>
                <input type="text" name="task" id="form2" class="form-control" />
               
              </div>
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info ms-4 mt-4" style="color: #fefefe">Add</button>
            </form>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
                  aria-controls="ex1-tabs-1" aria-selected="true">All</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
                  aria-controls="ex1-tabs-2" aria-selected="false">Active</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab"
                  aria-controls="ex1-tabs-3" aria-selected="false">Completed</a>
              </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                aria-labelledby="ex1-tab-1">
                <ul class="list-group mb-0">
                {% for id, task, is_done in tasks %}    
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;">
                    <input class="form-check-input me-2 done_checkbox" id="{{id}}" type="checkbox" value="{{is_done}}" {% if is_done%} checked {%endif%}  />
                    <span class="me-auto">
                        {% if is_done %}
                            <s>{{ task }}</s>
                        {% else %}
                            {{ task }}
                        {% endif %}
                    </span>
                    <a href="delete/{{id}}" style="color: brown;" class="ms-auto"><i class="fa fa-trash-o"></i></a>
                  </li>
                {%endfor%} 
                </ul>
              </div>

              <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <ul class="list-group mb-0">
                  {% for id, task, is_done in activetasks %}    
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;">
                    <input class="form-check-input me-2 done_checkbox" id="{{id}}" type="checkbox" value="{{is_done}}" {% if is_done%} checked {%endif%}  />
                    <span class="me-auto">
                        {{ task }}
                    </span>
                    <a href="delete/{{id}}" style="color: brown;" class="ms-auto"><i class="fa fa-trash-o"></i></a>
                  </li>
                {%endfor%} 
                </ul>
              </div>

              <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <ul class="list-group mb-0">
                 {% for id, task, is_done in completedtasks %}    
                  <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                    style="background-color: #f4f6f7;">
                    <input class="form-check-input me-2 done_checkbox" id="{{id}}" type="checkbox" value="{{is_done}}" {% if is_done%} checked {%endif%}  />
                    <span class="me-auto">
                        <s>{{ task }}</s>
                    </span>
                    <a href="delete/{{id}}" style="color: brown;" class="ms-auto"><i class="fa fa-trash-o"></i></a>
                  </li>
                {%endfor%} 
                </ul>
              </div>
            </div>
            <!-- Tabs content -->

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script>
        $('.done_checkbox').change(function() {

            let id = this.id;

            $.ajax({
                url: '/checkbox-action/'+id,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ value: this.value }),
                success: function(response) {
                    console.log('Server response:', response);
                    location.reload();
                }
            });
        });
    </script>
{% endblock %}